Create an inner join (database term) or intersection (set theory term):

In [2]:
import pandas as pd

# Create two dataframes, staff and students
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course Liason'},
                         {'Name': 'James', 'Role': 'Grader'}])

staff_df = staff_df.set_index('Name')

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business' },
                           {'Name': 'Mike', 'School': 'Law' },
                           {'Name': 'Sally', 'School': 'Engineering'}])

student_df = student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally   Course Liason
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

There's some overlap in these df in that James and Sally are both students and staff, but Mike and Kelly are not. Importantly, both df are indexed along the value we want to merge them on, which is called Name.

In [3]:
# If we want the union of these df, we would call merge()
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally   Course Liason  Engineering

In [4]:
# To get an intersection
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                Role       School
Name
Sally  Course Liason  Engineering
James         Grader     Business

To do "set addition" you can get a list of all staff, regardless of their student status. But if they are students, we want to get their student details as well. To do this we can do a left join.

In [5]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally   Course Liason  Engineering
James          Grader     Business

In [6]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                Role       School
Name
James         Grader     Business
Mike             NaN          Law
Sally  Course Liason  Engineering

The merge method has more interesting parameters. You don't only have to use indices to join on, you can use columns as well. Example: we have a parameter named "on", and we can assign a column that both df have as the joining column.

In [7]:
# First remove index from df
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

# Now merge using the "on" parameter
pd.merge(staff_df, student_df, how='right', on='Name')

    Name           Role       School
0  James         Grader     Business
1   Mike            NaN          Law
2  Sally  Course Liason  Engineering

If there are merge conflicts with columns, say as "Location" column present inside two df, then pandas will append "_x" to the left df and "_y" to the right df.

In [9]:
# eg. from instructor James Wilde and James Hammond don't match on both keys since they have different last 
# names. So we would expect that an inner join doesn't include these individuals in the output.
# pd.merge(staff_df, student_df, how='inner', on=['First Name', 'Last Name'])

If we think of merging as joining "horizontally", meaning we join on similar values in a column found in two df, then concatenating is joining "vertically", meaning we put df on top or on the bottom.

In [10]:
%%capture
# e.g. of Concatenating:
df_2011 = pd.read_csv("/path/to/df.csv", error_bad_lines=False)
df_2012 = pd.read_csv("/path/to/df.csv", error_bad_lines=False)
df_2013 = pd.read_csv("/path/to/df.csv", error_bad_lines=False)

FileNotFoundError: [Errno 2] No such file or directory: '/path/to/df.csv'

In [11]:
frames = [df_2011, df_2012, df_2013]
pd.concat(frames)

NameError: name 'df_2011' is not defined

In [12]:
# Pass in a list of keys that we want to correspond to the concatenated dataframes
pd.concat(frames, keys=['2011', '2012', '2013'])

NameError: name 'frames' is not defined

Concat also has inner and outer methods. If you are concat two dataframes that do not have identical columns, and chose the outer method, some cells will be NaN. If you chose the inner method, some observations will be dropped due to NaN values. This is analogous to the left and right joins of the merge() function.